body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #e6e1dc;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

section {
    padding: 20px;
}

footer {
    background-color: #996633;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #663300;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.package-container {
    margin-top: 20px;
    display: flexbox;
    flex-wrap: nowrap;
    justify-content: center;
}

.package {
    width: 30%;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: content-box;
    margin-bottom: 20px;
}

.package h3 {
    color: #333;
}

button {
    background-color: #ffcc00;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}



